# Core RAG & LLM
langchain
langchain-groq
langchain-chroma
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
chromadb

# Embeddings
sentence-transformers

# NLP & Text Processing
nltk
beautifulsoup4

# API & environment
groq
python-dotenv

# Utilities
tqdm
